
.App {
  text-align: justify;
  background-color: #f1f1f1;
  display:flex;
  flex-direction: column;
}
.App-image {
  height: 25vmin;
  pointer-events: none;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 25vmin;
  width: 400px;
  pointer-events: none;
  
}

.App-header {
  background-color: #4dbbff ;
  /* background-image: url('./content/img/capa.png'); */
  /* min-height: 10vh; */
  height: 70px;
  /* flex-basis:100; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-grow: 1; */
  /* flex-direction: row;
  justify-content: flex-start;
   */
  font-size: calc(20px + 2vmin);
  color: white;
}
input {
  /* width: 371px;
  height: 54px; */
  border-radius: 25px;
  border: solid 1px #707070;
  background-color: #ffffff;
}

hr{
  border-color:#aaa;
  box-sizing: border-box;
  width:100%;
}
.App-header-publicacoes{
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 40px;
  flex-grow:1;
}
.App-h-titulo{
  color: #003d79;
  font-family: "Roboto-Regular";
  font-size: 24px;
  font-weight: bold;
}
.App-h-categoria{
  color: #003d79;
  font-family: "Roboto-Regular";
  font-size: 16px;
  
  font-weight: bold;
}
.App-header-logo{
  padding:20px;
}
.App-footer {
  background-color: #4dbbff ;
  font-family: "ArciformFF";
  height: 100px;
  flex-grow:1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  background-color: #f1f1f1;
  /* border: 4px solid #ccc; */
  display: flex;
  flex-direction: row;
}
.h3{
  font-family: "Roboto-Regular";
}
.App-posts{
  background-color: #f1f1f1;
  font-family: "Roboto-Regular";
  flex-grow: 3;
  /* width: 1000px; */
  padding: 40px;
  /* border: 4px solid #ccc; */
  
}
.App-informacoes{
  background-color: #f1f1f1;
  /* border: 4px solid #ccc; */
  flex-grow: 2;
  
}
.TextoGeral{
  justify-content: left;
}
.App-link {
  color: #61dafb;
}
.logo{
  font-family: ArciformFF, Droid Sans
}

